.branding-branding {
    gap: var(--dl-space-space-unit);
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .branding-text {
    color: rgba(18, 40, 33, 1);
    font-size: 24px;
    line-height: 36px;
  }
  .branding-icon {
    width: 7px;
    height: 7px;
  }
  .branding-text1 {
    color: rgba(18, 40, 33, 1);
    font-size: 18px;
    font-family: Lato;
    line-height: 27px;
  }
  @media(max-width: 991px) {
    .branding-icon {
      display: none;
    }
    .branding-text1 {
      display: none;
    }
  }
  
  .footer-footer {
    width: 100%;
    display: flex;
    position: relative;
    max-width: var(--dl-size-size-maxwidth);
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-information {
    gap: var(--dl-space-space-fiveunits);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-content {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-header {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-text {
    color: rgb(18, 40, 33);
    width: 100%;
    font-size: 18px;
    max-width: 600px;
    font-family: Lato;
    line-height: 27px;
  }
  .footer-contact-list {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-contact {
    gap: 11px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .footer-image {
    width: 24px;
    height: 18px;
    object-fit: cover;
  }
  .footer-text01 {
    color: rgb(18, 40, 33);
    width: 100%;
    font-size: 18px;
    font-family: Lato;
    line-height: 18px;
  }
  .footer-contact1 {
    gap: 11px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .footer-image1 {
    width: 18px;
    height: 24px;
    object-fit: cover;
    margin-left: 3px;
    margin-right: 3px;
  }
  .footer-text02 {
    color: rgb(18, 40, 33);
    width: 100%;
    font-size: 18px;
    font-family: Lato;
    line-height: 18px;
  }
  .footer-copyright {
    color: rgb(18, 40, 33);
    width: 100%;
    font-size: 14px;
    font-family: Lato;
    line-height: 21px;
  }
  .footer-links {
    gap: 110px;
    display: flex;
    align-items: flex-start;
    padding-right: 135px;
    flex-direction: row;
  }
  .footer-column {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-column1 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  @media(max-width: 991px) {
    .footer-footer {
      gap: var(--dl-space-space-threeunits);
      align-items: flex-start;
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
      flex-direction: column;
      justify-content: flex-start;
    }
    .footer-content {
      gap: var(--dl-space-space-oneandhalfunits);
    }
    .footer-header {
      gap: var(--dl-space-space-unit);
    }
    .footer-copyright {
      display: none;
    }
    .footer-links {
      gap: var(--dl-space-space-threeunits);
      padding-right: 0px;
      flex-direction: column;
    }
  }
  
  .login-container {
    width: 100%;
    display: flex;
    overflow: hidden;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .login-navbar {
    width: 100%;
    display: flex;
    z-index: 100;
    align-items: center;
    flex-direction: column;
  }
  .login-navbar-interactive {
    color: var(--dl-color-gray-black);
    width: 100%;
    display: flex;
    position: relative;
    max-width: 1324px;
    align-items: center;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
    background-color: var(--dl-color-primary-700);
  }
  .login-container1 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: space-between;
    flex-direction: column;
  }
  .login-image {
    width: 70px;
    height: 79px;
    object-fit: cover;
  }
  .login-branding {
    gap: var(--dl-space-space-unit);
    border: 2px dashed rgba(120, 120, 120, 0.4);
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .login-text {
    width: 318px;
    height: 104px;
    font-size: 5.3em;
  }
  .login-desktop-menu {
    display: flex;
  }
  .login-links {
    gap: var(--dl-space-space-threeunits);
    width: 359px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .login-button {
    color: rgb(18, 40, 33);
    font-size: 18px;
    font-family: Lato;
    line-height: 27px;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: 0px;
    border-radius: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: transparent;
  }
  .login-button1 {
    color: rgb(18, 40, 33);
    font-size: 18px;
    font-family: Lato;
    line-height: 27px;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: 0px;
    border-radius: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: transparent;
  }
  .login-button2 {
    color: rgb(18, 40, 33);
    font-size: 18px;
    font-family: Lato;
    line-height: 27px;
    padding-top: var(--dl-space-space-halfunit);
    border-color: rgba(18, 40, 33, 1);
    padding-left: var(--dl-space-space-threeunits);
    border-radius: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: transparent;
    border-left-width: 1px;
  }
  .login-burger-menu {
    display: none;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .login-hamburger {
    width: 100px;
    object-fit: cover;
  }
  .login-mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 100;
    position: fixed;
    transform: translateX(100%);
    transition: 0.5s;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-threeunits);
    justify-content: flex-start;
    background-color: #fff;
  }
  .login-top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
  }
  .login-branding1 {
    gap: var(--dl-space-space-unit);
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .login-text03 {
    color: rgba(18, 40, 33, 1);
    font-size: 24px;
    line-height: 36px;
  }
  .login-icon {
    width: 7px;
    height: 7px;
  }
  .login-text04 {
    color: rgba(18, 40, 33, 1);
    font-size: 18px;
    font-family: Lato;
    line-height: 27px;
  }
  .login-menu-close {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-icon02 {
    width: 34px;
    height: 34px;
  }
  .login-links1 {
    gap: var(--dl-space-space-unit);
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .login-button3 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-family: Lato;
    line-height: 27px;
    border-radius: 28px;
    background-color: rgb(18, 40, 33);
  }
  .login-button4 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-family: Lato;
    line-height: 27px;
    border-radius: 28px;
    background-color: rgb(18, 40, 33);
  }
  .login-button5 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-family: Lato;
    line-height: 27px;
    border-radius: 28px;
    background-color: rgb(18, 40, 33);
  }
  .login-social-bar {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-threeunits);
    margin-top: auto;
    justify-content: flex-start;
  }
  .login-icon04 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .login-icon06 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .login-icon08 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .login-icon10 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .login-icon12 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .login-services {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .login-testimonials {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .login-banner {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: center;
  }
  .login-container2 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 110px;
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: rgba(0, 0, 0, 0.38);
  }
  .login-button6 {
    width: 304px;
    height: 58px;
  }
  .login-button7 {
    width: 304px;
    height: 58px;
  }
  @media(max-width: 991px) {
    .login-navbar-interactive {
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
    }
    .login-icon {
      display: none;
    }
    .login-text04 {
      display: none;
    }
    .login-services {
      align-items: center;
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
      justify-content: center;
    }
    .login-testimonials {
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
    }
    .login-banner {
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
    }
  }
  @media(max-width: 767px) {
    .login-desktop-menu {
      display: none;
    }
    .login-burger-menu {
      width: 40px;
      height: 40px;
      display: flex;
      aspect-ratio: 1;
      border-radius: var(--dl-radius-radius-round);
      justify-content: center;
      background-color: #E6F9E0;
    }
    .login-hamburger {
      width: 16px;
      height: 8px;
    }
    .login-button3 {
      color: rgb(18, 40, 33);
      padding-left: 0px;
      background-color: transparent;
    }
    .login-button4 {
      color: rgb(18, 40, 33);
      padding-left: 0px;
      background-color: transparent;
    }
    .login-button5 {
      color: rgb(18, 40, 33);
      padding-left: 0px;
      background-color: transparent;
    }
    .login-social-bar {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
  }
  @media(max-width: 479px) {
    .login-social-bar {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-twounits);
    }
    .login-container2 {
      gap: var(--dl-space-space-oneandhalfunits);
      padding-top: var(--dl-space-space-threeunits);
      padding-bottom: var(--dl-space-space-threeunits);
    }
  }
  