<%- include("partials/header"); -%>
<!-- Header-->
<header class="masthead text-center text-white">
  <div class="masthead-content">
      <div class="container px-5">
          <h1 class="masthead-heading mb-0">DocLink</h1>
          <h2 class="masthead-subheading mb-0">Your AI Doctor</h2>
          <a class="btn btn-primary btn-xl rounded-pill mt-5" href="/login">Let's Chat</a>
      </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
<section id="scroll">
  <div class="container px-5">
      <div class="row gx-5 align-items-center">
          <div class="col-lg-6 order-lg-2">
              <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/01.jpg" alt="..." /></div>
          </div>
          <div class="col-lg-6 order-lg-1">
              <div class="p-5">
                  <h2 class="display-4">Disease Diagonsis</h2>
                  <p>
                      Doc Link can provide detailed information about various diseases, their causes, symptoms and treatment options.
                  </p></div>
          </div>
      </div>
  </div>
</section>
<!-- Content section 2-->
<section>
  <div class="container px-5">
      <div class="row gx-5 align-items-center">
          <div class="col-lg-6">
              <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/02.jpg" alt="..." /></div>
          </div>
          <div class="col-lg-6">
              <div class="p-5">
                  <h2 class="display-4">Medication Info</h2>
                  <p>This AI Assistant can also provide information on prescription, medication, including the dosage and side effects.</p></div>
          </div>
      </div>
  </div>
</section>
<!-- Content section 3-->
<section>
  <div class="container px-5">
      <div class="row gx-5 align-items-center">
          <div class="col-lg-6 order-lg-2">
              <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/03.jpg" alt="..." /></div>
          </div>
          <div class="col-lg-6 order-lg-1">
              <div class="p-5">
                  <h2 class="display-4">User Support</h2>
                  <p>AI Assistant provides users with access to customer support to answer any question or concerns that they may have</p></div>
          </div>
      </div>
  </div>
</section>
<%- include("partials/footer"); -%>